/* Contenedor del carrusel */
.fotos-galeria-container {
  width: 80%;  
  max-width: 1300px; 
  margin: 50px auto; 
}

/* Cada slide del carrusel */
.fotos-galeria-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Imágenes dentro del carrusel */
.fotos-galeria-item img {
  width: 100%; 
  max-width: 1000x; 
  height: 650px; 
  border-radius: 10px; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

/* Ajustes para los puntos de navegación */
.slick-dots {
  visibility: hidden;
}

/* Ajustes para las flechas de navegación */
.slick-prev,
.slick-next {
 visibility: hidden;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px; 
  color: #333; 
}