.InfoRuta-container {
    width: 100%;
    background-color: #f0f0f0;
}

.InfoRuta-iconAct{
  color: black;
  font-size: 45px;
  justify-content: center;
  justify-items: center;
}

.InfoRuta-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: left;
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;  
    max-width: 96%;;
    margin: 0 auto;
}

.InfoRutanombre {
    font-family: 'PaytoneOne';
    font-size: 45px;
    color: rgb(0, 0, 0);
  }

  .InfoRutagallery {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Espacio entre las imágenes */
  }
  
  .InfoRutamain-imag {
    flex: 2; /* La imagen principal ocupará el doble de espacio que las imágenes laterales */
    height: 600px; /* Ajusta la altura según sea necesario */
  }
  
  .InfoRutamain-imag img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
    border-radius: 8px;
  }
  
  .InfoRutaside-imag {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre las imágenes laterales */
    flex: 1;
  }
  
  .InfoRutaside-imag img {
    width: 100%;
    height: 290px;
    object-fit: cover; 
    border-radius: 8px;
  }

  .InfoRuta-description {
    margin-top: 30px; /*para colocar espacio antes del parrafo*/
    margin-bottom: 40px; /*para colocar espacio despues del parrafo*/
    font-family: 'Raleway-Regular';
    font-size: 24px;
    color: #000000;
    line-height: 1.5;
}

.InfoRutametricas-container {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around; /* Distribuye las métricas de manera uniforme */
  background-color: #f9f9f9;
  gap: 5px; /* Espacio entre métricas */
  padding: 20px;
  border-radius: 8px;
}

.InfoRutametrica {
  text-align: center; /* Centra el contenido */
}

.InfoRutavalor {
  font-family: 'Raleway-Bold';
  font-size: 55px; 
  font-weight: bold; /* Texto en negrita */
  color: #161616;
}

.InfoRutaunidad {
  font-size: 25px;
  color: #666; 
  margin-left: 4px; /* Espacio entre el valor y la unidad */
}

.InfoRutadetalles {
  font-family: 'Raleway-Regular';
  font-size: 20px;
  color: #777; 
  display: block; /* Hace que la descripción esté en una línea separada */
  margin-top: 8px; /* Espacio entre el valor y la descripción */
}

.InfoRuta-separador {
  height: 150px; /* Grosor de la línea */
  background: #2e2e2e;
  width: 3px; /* Ancho completo */
  margin: 6px 0; /* Espacio alrededor de la línea */
  border-radius: 8px;
}


/* Estilo para el día actual */
.react-calendar__tile--now {
  background-color: lightgreen !important; /* Fondo verde claro */
  color: black !important; /* Texto negro */
}

.reserva-container {
  font-family: 'Raleway-Bold';
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.reserva-detalles{
  font-family: 'Raleway-Regular';
  flex-direction: row;
  margin-bottom: 3px;
}

/* Estilo para el botón de reserva */
.reserva-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.reserva-button:hover {
  background-color: darkgreen;
}


.InfoRutaActividad-title {
  font-family: 'Raleway-bold';
  color: black;
  font-size: 42px;
  font-weight: bold;
  background-color: #4CAF50;
  border-radius: 8px;
  padding: 20px; /*para crear el espacio alrededor*/
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.InfoRutaActividad-container {
  font-family: 'Raleway-bold';
  color: black;
  font-weight: bold;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 70px; /*para crear el espacio alrededor*/
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 10px;
}

.InfoRutaAct-metrica {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px; /* Espacio entre el icono y el texto */
}

.InfoRutacontainer2 {
  font-family: 'Raleway-bold';
  color: black;
  font-weight: bold;
  background-color: #ffffff;
  padding: 40px; /*para crear el espacio alrededor*/
  gap: 150px;
  display: flex;
}

.InfoRutametrica2 {
  font-family: 'Raleway-Bold';
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px; 
  padding-top: 8px;
}

.InfoRutacontainer3 {
  font-family: 'Raleway-Bold';
  font-size: 30px;
  color: black;
  padding: 10px; /*para crear el espacio alrededor*/
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.InfoRutainformacion {
  font-family: 'Raleway-Regular';
  color:black;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px; 
}

.InfoRutatipolink {
  font-family: 'Raleway-Regular';
  text-decoration: underline;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}

.InfoRuta-button {
  font-family: Arial;
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 54px;
  gap: 45px;
  width: 340px;
  height: 40px;

  background: linear-gradient(0deg, #4CAF50, #4CAF50), #081E29;
  border-radius: 8px;
}

.InfoRuta-button:hover {
  background: linear-gradient(0deg, #45a049, #45a049); /* Cambia el color al pasar el mouse */
}

.InfoRuta-button-container {
  display: flex;
  justify-content: center; /* Alinea el botón a la derecha */
  align-items: center;
  margin-top: 10px; /* Espacio arriba del botón */
  margin-bottom: 30px;
}

@font-face {
    font-family: 'Raleway-bold';
    src: url('/fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* Media Query para dispositivos móviles (teléfonos) */
@media screen and (max-width: 768px) {
    .InfoRuta-container {
        max-width: 100%;
        padding: 5px;
    }

    .InfoRuta-iconAct{
      font-size: 30px;
    }

    .InfoRuta-content {
        width: 100%;
        justify-content: center;
        align-content: center;
        padding: 20px;
    }

    .InfoRutanombre {
        font-size: 30px;

    }

    .InfoRutagallery {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 15px;
    }

    .InfoRutamain-imag {
        max-width: 100%;
        height: 50px; /* Ajustamos la altura de la imagen principal */
    }

    .InfoRutamain-imag img {
        height: 100%;
    }

    .InfoRutaside-imag {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .InfoRutaside-imag img {
        width: 200px;
        height: 180px;
    }

    .InfoRuta-description {
        max-width: 100%;
        font-size: 14px;
        margin-bottom: 13px;
    }

    .InfoRutametricas-container {
      max-width: 100%;
      justify-content: space-around; 
      gap: 8px; /* Espacio entre métricas */
      padding: 10px;
      margin-bottom: 13px;
    }
    
    .InfoRuta-separador {
      height: 50px; 
      margin: 2px 0;
    }

    .InfoRutavalor,.InfoRutaActividad-title {
      font-size: 20px;
    }

    .InfoRutaunidad {
      font-size: 16px;
    }

    .InfoRutadetalles {
      font-size: 6px;
    }

    .InfoRuta-button {
        padding: 15px 30px; /* Reducción de tamaño del botón en móvil */
        width: 100%; /* Hacer el botón más grande */
    }
    
    .InfoRutacontainer2 {
        width: 100%;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 55px;
    }

    .InfoRutametrica2{
      max-width: 100%;
    }

    .InfoRutaActividad-container{
      flex-direction: column;
      max-width: 100%;
      padding: 30px;
      gap: 15px;

    }

    .InfoRutacontainer3{
      font-size: 25px;
    }

}
