/* Estilos para el contenedor principal */
.mision-vision-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Alinea las secciones en la parte superior */
  justify-content: space-evenly;
  padding: 40px 20px;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  height: auto; /* Permite que el contenedor crezca según el contenido */
}

/* Estilos para las secciones de Misión y Visión */
.mision-section, .vision-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width: 45%; /* Reduce el ancho para crear espacio entre ellas */
  height: auto; /* Permite que las secciones crezcan según el contenido */
}

/* Estilos para el título de las secciones */
.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #4CAF50;
  margin-bottom: 15px;
}

/* Estilos para el texto de las secciones */
.section-text {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  text-align: justify;
}