
  @font-face {
    font-family: 'Raleway-Regular';
    src: url('/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }



  .Navbar {
    width: 100%;
    height: 117px;
    background-color: #F6F6F6;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Centra verticalmente todos los elementos */
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .Navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    flex: 1; /* Hace que los ul ocupen el espacio disponible */
  }
  
  .Navbar ul:first-child {
    margin-right: 20px;
    justify-content: space-evenly; /* Alinea los elementos a la izquierda */
  }
  
  .Navbar ul:last-child {
    margin-left: 20px ;
    justify-content:  space-evenly; /* Alinea los elementos a la derecha */
  }
  
  .Navbar li {
    align-items: center;
    font-family: 'Raleway-Regular';
    margin: 0 20px; /* Ajusta el espaciado entre los elementos */
  }
  
  .Navbar .options {
    font-family:'Raleway-Regular';;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 10;
    cursor: pointer;
    line-height: 117px; /* Ajusta la línea de texto a la altura del Navbar */
    margin-top: 0;
  }
  
  .Navbar img {
    cursor: pointer;
    margin: 0 auto; /* Centra el logo horizontalmente */
  }