.nuevo-tema-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Ancho fijo */
    height: 400px; /* Alto fijo */
}

.user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
    color: #333;
}

p {
    margin: 5px 0;
    color: #666;
}

.nuevo-tema-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.nuevo-tema-button:hover {
    background-color: #218838;
}

