html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: 'Raleway-Regular', sans-serif;

}


.Contactanos-contactanos{

  width: 100%;
  max-width: 1110px;
  margin:20px 70px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 15px;
  margin-top: 50px;
  font-size: 2rem;

}

.Contactanos-container {
  width: 100%;
  background-color: #f0f0f0;
}

.Contactanos-content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: left;
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;  
    max-width: 96%;;
    margin: 0 auto;
}

.tc, .tc2{
  font-family: 'Raleway-bold';
  color: rgb(0,0,0);
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 45px;
  
}


.Contactanos-separador {
  width: 100%; /* Ancho completo */
  height: 1px; /* Grosor del separador */
  background-color: #0f0f0f; /* Color del separador */
  margin: 20px 0; /* Espacio arriba y abajo */
}

.Contactanos-Contenedor {
  font-family: 'Raleway-bold';
  justify-content: center;
  color: black;
  font-weight: bold;
  /* background-color: #a57b7b; */
  padding: 10px; /*para crear el espacio alrededor*/
  gap: 20px;
  display: flex;
  

}

.Contacmetrica {
  font-size: 18px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px; 
}

.PrimeraFila1{
  font-family: 'Raleway-bold';
  /* background-color: #4CAF50; */
  color: black;
  font-weight: bold;
  padding: 20px; /*para crear el espacio alrededor*/
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  margin-bottom: 10px;
  max-width: 100%;
}

.nomb{
  font-family: 'Raleway-bold';
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.ContImp{
  display: flex;
  background-color: #f0f0f0;
  border-radius: 8px;
  width: 100%;
  font-size: 3rem;
}

.ContImp2{
  display: flex;
  background-color: #f0f0f0;
  border-radius: 8px;
  width: 100%;
  font-size: 4rem;
}

.pf{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1px;
  margin-bottom: 10px;
}

.ContactanosbuttonP{
  width: 100%; 
  border-radius: 60px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  gap: 8px;
  background-color: #4CAF50;
  color: black;
  font-family: 'Raleway-Bold';
}


@font-face {
  font-family: 'Raleway-bold';
  src: url('/fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Media Queries para Tablets (768px - 1024px) */
@media screen and (max-width: 768px) {
  .Contactanos-container {
    max-width: 100%;
    padding: 5px;
}

.tc2{
  font-size: 30px;
}

.PrimeraFila1{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nomb{
  font-size: 20px;
}

.Contactanos-content {
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.ContImp{
  max-width: 300px ;
}

.ContImp2{
  max-width: 300px ;
  height: 200px;

}

  .Contactanos-Contenedor {
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 55px;
}

  .Contacmetrica{
      align-items: center;
      max-width: 100%;
  }
}

