
.contactanos{
  width: 100%;
  max-width: 1110px;
  margin:20px 70px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 15px;
  margin-top: 50px;
  font-size: 2rem;

}
.contactanos h1{
  font-family: 'Raleway-Bold';
  margin-bottom: 40px; 
  margin-top: 40px;
  font-size: 5rem; 
  font-weight: 700;
  color: rgb(0,0,0);
  justify-content: center;
  align-items: center;
  
}
.separador {
  width: 100%; /* Ancho completo */
  height: 1px; /* Grosor del separador */
  background-color: #0f0f0f; /* Color del separador */
  margin: 20px 0; /* Espacio arriba y abajo */
}
.Contenedor {
  width: 100%;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-gap: 20px;
}
.ContactForm h2{
  font-family: 'Raleway-Bold';
  font-size: 2rem;
  color: black;
}

.Primerafila{
  width:100%;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.Primerafila > div {
  flex: 1; /* Cada input ocupa el mismo espacio */
}
.Primerafila label{
  font-size: 1.5rem;
  color: black;
  
}
.Primerafila input{
  width: 100%;
  padding: 15px 25px;
  font-size: 2rem;
  border-radius: 60px; 
  background-color: rgb(217,217,217); 
}
.ContactForm label{
  font-size: 1.5rem;
  color: black;

}
.ContactForm textarea{
  width: 100%;
  height: 200px;
  padding: 15px 25px; 
  font-size: 2rem;
  border-radius: 40px; 
  background-color: rgb(217,217,217); 
}
.ContactForm button{
  height: 80px; 
  width: 60%;
  border-radius: 0.75rem; 
  background-color: #4CAF50;
  color: #0a0a0a;
  padding: 10px 20px ;
  cursor: pointer;
}

.Enviar:hover{
  background-color: rgb(126, 207, 130);
}
.Contactinfo{
  width: 50%;
  margin:20% 35%;
}
.Button{

  display: flex;
  flex-direction: column;
  gap: 5px;

}
.Contactinfo button{
  width: 100%; 
  border-radius: 60px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  gap: 8px;
  background-color: #4CAF50;
  color: black;
  font-family: 'Raleway-Bold';

}
.Icon{
  display: flex;
  flex-direction: row;
  gap: 5px; 
  margin-top: 10px;
}

.Icon button{
  border-radius: 60px;
  background-color: #4CAF50;
  color: black;
  align-items: center;

}
/* Media Queries para Tablets (768px - 1024px) */
@media (min-width: 768px) {
  .TituloContactanos h1 {
    font-size: 4rem; /* Tamaño más grande para tablets */
  }

  .ContactForm {
    margin-left: 5%;
    width: 100%;
  }

  .PrimeraFila {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Nombre, .Correo {
    width: 48%; /* Ancho reducido para tablets */
  }

  .Telefono-Boton, .Correo-Boton {
    width: 30%; /* Ancho reducido para tablets */
  }
}

