@font-face {
    font-family: 'REM';
    src: url('./assets/fonts/REM-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'REM';
    src: url('./assets/fonts/REM-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  