.Adminrutas{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.Adminrutas-contenedor{
    width: 100%;
    max-width: 1440px;
}
.Adminrutas-header{
    position: relative;
    min-height: 100vh;
    background-color: white;
}
.Adminrutas-sidebar{
    display: flex;
}
.Adminrutas-page-content{
    flex: 1;
}
.Adminrutas-page-content h2{
    padding: 2rem 3rem;
    font-family: 'Raleway', Helvetica;
    font-weight: 700;
    font-size: 24px;
    color: black;
    justify-self: flex-start;
}
.Adminrutas-tabnavigation{
    width: 100%;
}
.Adminrutas-ver{
    margin-top: 2rem;
    padding: 0rem 1rem;
}
.ver-rutas-card{
    width: 100%;
    height: 724px; /*cambiarrrr*/
    background-color: #c4bebe;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.ver-rutas-label, .ver-rutas-label1, .ver-rutas-label2{
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
}
.ver-rutas-label h3, .ver-rutas-label1 h3, .ver-rutas-label2 h3{
    border-right: 1px solid #e0e0e0;
}
.Adminrutas-crear, .Adminrutas-editar{
    background-color: white;
    justify-content: center;
    width: 100%;
    margin: 2rem;
    padding: 0;
}
.Adminrutas-crear-container, .Adminrutas-editar-container{
    width: 951px;
    height: 724px;
    background-color: #c4bebe;
    border-radius: 10px;
    padding: 3rem;
    overflow-y: auto;
} 
.Adminrutas-finalizar-button{
    display: flex;
}
.Adminrutas-finalizar-button button{
    
}